#map {
       height:400px;
       width:45%;
       float: left;
       }
header {
    text-align: center;
    background-image: url(https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAgFAAAAJDM2NDhmZjc3LTJiZjctNDUzMi04ZmU4LTM5YzNhMjIwMmI2MQ.jpg);
    height:70px;
    padding-top: 30px;
    color:antiquewhite;
}

body {
    margin:0px;
}

.navel {
    padding-left: 7%;
    padding-right: 7%;
    border:white solid;
    color:aqua;
}

nav {
    padding-left: 8%;
    z-index: 2;
    background-color: black;
    padding-top: 10px;
    height:30px;
}

#markeri {
    width:5%;
    height:400px;
    float:left;
    background-color: gray;
}



#feed {
    float:left;
    width:50%;
    height:400px;
    background-color: gray;
}

#ayy {
    display: inline-block;
    width:100%;
}

#black {
    background-color: black;
    height: 50px;
    position:relative;
    bottom: 5px;
}
.modal-content{
    max-width: 500px;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 20px;
    background: #f4f7f8;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.form-group{
    border: none;
}
.control-label{
    display: block;
    margin-bottom: 8px;
}
#a .form-group input[type="text"],
#a .form-group input[type="date"],
#a .form-group select {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    background-color: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
    
}